** {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(143, 142, 142);
    overscroll-behavior: none;
    background-repeat: no-repeat;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
#icon{
    height:10vh;
    width:15vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border:2%;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    border-width: thick;


}




#search {
    display: flex;
    flex-direction: row;
    position: absolute;
    top:30%;
    left:40%;






}

#searchhere {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 5%;
    background-color: #fcfcfc2b;
    color: antiquewhite;
    font-size: 120%;
    height: 5vh;
    width: 10vw;
    
}

#searchimg {

    height: 3.1vh;
    width: 4vw;
    color: antiquewhite;
    outline: none;
    cursor: pointer;
    align-items: flex-end;

}

#searchicon:hover {
    background-color: rgb(44, 44, 44);
    transition: 0.2ms ease-in-out;
}

#searchicon:active {
    background-color: #292929;
    box-shadow: 0 3px rgb(78, 78, 78);
    transform: translateY(4px);
}


@media screen and (max-width: 1160px) {
    #box {
        height: 28vh;
        width: 35vw;
        background-color: #000000e0;

    }
    #searchhere {
        width: 22vw;

    }
    #searchicon{
        font-size: 60%;
        height: 3.1vh;
        width: 4.3vw;
    }
    #weathershow {
      
        padding-top:5%;
        font-size:120%;
    }

}
@media screen and (max-width: 900px) {
    #box {
        height: 30vh;
        width: 42vw;
        background-color: #000000e0;

    }
    #searchhere {
        width: 27vw;

    }
    #weathershow {
      
        font-size:120%;
    }
    #searchicon{
        font-size: 60%;
        height: 3.1vh;
        width: 7vw;
    }

}
@media screen and (max-width: 500px){
    #box {
        height: 32vh;
        width: 55vw;
        background-color: #000000e0;

    }
    #searchhere {
        width: 28vw;

    }
    #weathershow {
      
        font-size:100%;
    }
    #searchicon{
        font-size: 60%;
        height: 3.1vh;
        width: 10vw;
    }
}




